fastapi
uvicorn[standard]
python-multipart
langchain
langchain-groq
langchain-community
langchain-huggingface
langchain-chroma
langgraph
chromadb
sentence-transformers
streamlit
requests
pydantic
python-dotenv
transformers
rank-bm25
torch
whoosh